[submodule "lib/glfw"]
	path = Engine/vendors/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/glm"]
	path = Engine/vendors/glm
	url = https://github.com/g-truc/glm
[submodule "Engine/vendors/spdlog"]
	path = Engine/vendors/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/vendors/imgui"]
	path = Engine/vendors/imgui
	url = https://github.com/ocornut/imgui
